body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: black;
}

.relative-div {
  position: relative;
}

.grid {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border: 6px solid rgb(196, 196, 255);
  background-image: url(./img/winter-background-2.png);
  background-size: cover;
  opacity: 1;
}

.grid div {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.aang-meditating {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border: 6px solid rgb(196, 196, 255);
  background-color: black;
  background-image: url(./img/aang-meditating7.png);
  background-size: cover;
  opacity: 0;
  z-index: 100;
  animation: fade-intro 4s ease-out 1;
}

@keyframes fade-intro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.aang-avatar-state {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border: 6px solid rgb(196, 196, 255);
  background-color: black;
  background-image: url(./img/aang-avatar-state6.png);
  background-size: cover;
  z-index: 1000;
  animation: avatar-state 4s ease-out 1;
}

@keyframes avatar-state {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.in-space {
  animation: color_change 0.2s 2 alternate;
}

@keyframes color_change {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.wall {
  /* background-color: blue; */
  background-image: url(./img/winter-wall-1.png);
  background-size: cover;
}

.goal {
  background-image: url(./img/vortex-ice.png);
  background-size: cover;
  animation: rotate 6s normal linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.player {
  background-image: url(./img/katara.png);
  background-size: cover;
}

.hud {
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: monospace;
  font-size: 22px;
  color: red;
  text-shadow: 2px 2px 1px rgb(87, 87, 87);
  letter-spacing: 2px;
  /* z-index: 1; */
}

/* Level design */

.level2 {
  background-image: url(./img/winter-background-1.png);
  background-size: cover;
}

.wallLevel2 {
  background-image: url(./img/wall-ice-2.png);
  background-size: cover;
}

.goalLevel2 {
  background-image: url(./img/vortex-ice.png);
  background-size: cover;
}

.level3 {
  background-image: url(./img/wallpaper.jpeg);
  background-size: cover;
}

.playerLevel3 {
  background-image: url(./img/appa.png);
  background-size: cover;
}

.wallLevel3 {
  background-image: url(./img/wall-earth-1.png);
  background-size: cover;
}

.goalLevel3 {
  background-image: url(./img/vortex-earth.png);
  background-size: cover;
}

.level4 {
  background-image: url(./img/aang-background.jpg);
  background-size: cover;
}

.wallLevel4 {
  background-image: url(./img/wall-air.png);
  background-size: cover;
}

.goalLevel4 {
  background-image: url(./img/vortex-air.png);
  background-size: cover;
  animation: rotate 2s normal linear infinite;
}

.level5 {
  background-image: url(./img/fire-wallpaper.jpg);
  background-size: cover;
}

.wallLevel5 {
  background-image: url(./img/wall-fire.png);
  background-size: cover;
}

.goalLevel5 {
  background-image: url(./img/vortex-earth.png);
  background-size: cover;
  animation: rotate 0.75s normal linear infinite;
}

.level6 {
  background-image: url(./img/sunrise.png);
  background-size: cover;
}

.wallLevel6 {
  background-image: url(./img/wall-grass.png);
  background-size: cover;
}

.goalLevel6 {
  background-image: url(./img/vortex-earth.png);
  background-size: cover;
  animation: rotate 0.75s normal linear infinite;
}

.victory-screen {
  background-image: url(./img/victory-screen.png);
  background-size: cover;
}
