body {
  padding: 10;
  margin: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  border: solid black;
  background-image: url(./img/winter-background-2.png);
  background-size: cover;
}

.grid div {
  width: 40px;
  height: 40px;
}

.in-space {
  animation: color_change 0.2s 2 alternate;
  /* transition: animation 1s; */
}

@keyframes color_change {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.wall {
  background-color: blue;
  background-image: url(./img/winter-wall-1.png);
  background-size: cover;
}

.goal {
  background-image: url(./img/vortex.png);
  background-size: cover;
  animation: rotate 6s normal linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

.player {
  background: orange;
}

.hud {
  position: absolute;
  top: -10px;
  left: 25px;
  font-family: monospace;
  font-size: 22px;
  color: red;
  text-shadow: 2px 2px 1px rgb(87, 87, 87);
  letter-spacing: 2px;
}
